@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600&family=Gorditas:wght@400;700&family=Poppins:wght@300&family=Saira:wght@200;300;400;500&display=swap");

body {
  font-family: "Cormorant Garamond", serif;
  font-family: "Gorditas", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Saira", sans-serif !important;
}
